splash.properties
igwmod.cfg
worldedit/worldedit.properties
jei/worldSettings.cfg
NEI/client.cfg
worldeditcuife2.cfg
jei/bookmarks.ini
UniqueNames.txt
XaeroWaypoints/
XaeroWorldMap/
xaerominimap.txt
xaeroworldmap.txt
InvTweaks.cfg
InvTweaksRules.txt
InvTweaksTree.txt
